scikit-image==0.24.0
scikit-learn==1.2.2
scikit-learn-intelex==2025.0.1
scikit-multilearn==0.2.0
scikit-optimize==0.10.2
scikit-plot==0.3.7
scipy==1.13.1
sklearn-pandas==2.2.0
pandas==2.1.4
pandas-datareader==0.10.0
pandas-gbq==0.23.1
pandas-profiling==3.6.6
pandas-stubs==2.1.4.231227
pandasql==0.7.3
numpy==1.26.4
matplotlib==3.7.1
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
seaborn==0.12.2
xgboost==2.0.3
joblib==1.4.2